name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  actions: write
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          stale-issue-message: "This issue has become stale after 7 days with no activity. Please comment or it will be closed in 7 days."
          stale-pr-message: "This PR has become stale after 14 days with no activity. Please comment or it will be closed in 14 days."
          close-issue-message: "This issue was closed because it has been stalled for 7 days with no activity."
          close-pr-message: "This PR was closed because it has been stalled for 14 days with no activity."
          days-before-issue-stale: 7
          days-before-issue-close: 7
          days-before-pr-stale: 14
          days-before-pr-close: 14
